body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
    background-color: #ff4c68 ;
    color: white;
    padding: 0%  15%;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}
h3 {
color: black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;

}
p {
color: #8f8f8f;
text-align: center;
}
.container-fluid {
    padding: 3% 15%;
    
}
.icon{
    margin-right: 5px;
}
.Navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom:  3.5rem;
}
.nav-item{
    padding:0 18px ;

}
 .nav-link{
    font-size: 1.2rem;
    font-family: Montserrat-light;
}
.download-button{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    
    
}
.mobile-img{
    transform: rotate(25deg);
    position: absolute;
    top: -75px;
    
    
    
}
.features-item{
    margin-top: 4rem;
    text-align: center;
    padding: 7% 7%;
}
.features{
    margin-top: 15px;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}
.features-icon{
    text-align: center;
    color: #ef8172;
    margin-bottom: 10px;    
}
.features-icon:hover{
    color: #ff4c68;
}
#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.testimonials-image{
width: 5%;
border-radius: 100%;
margin: 20px;
}
#press {
text-align: center;
background-color: #ef8172;
padding: 3%;
}
.press-logo {
    width: 15% ;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}
#pricing{
    text-align: center;
    margin: 3% 15%;
}
@media (max-width: 1028px){
    .mobile-img{
        
        position: static;
        transform: rotate(0);
        
    }  
    #title{
        text-align: center;
    }
}
.cta {
    background-color: #ff4c66;
    text-align: center;
    padding: 1% 15%;
}
.h3-3 {
    color: #fff;
}